* {
    padding: 0; margin: 0;
}
canvas {
    background: #eee;
    display: block;
    float:left;
}
.controls{
    display: table;
    margin: auto;
}
.gamedata{
    max-width: 50%;
    margin:auto;
}
.controler{
    max-width: 150px;
    max-height: 150px;
    margin-right: 10%;
    float:left;
}
.group {
}
